.custom_input:focus-visible{
    outline: none;
}
.custom_input:hover{
    border: solid 1px var(--theme) !important;
    
}
.custom_input:focus{
    opacity: 0.8;
}
.custom_input{
    border: solid 1px #b3b3b33d;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    margin-bottom: 0;
    opacity: 1;
    transition: all 0.2s;
}
